body {
    width: 200px;
    text-align: center;
    padding: 20px;
}

#timer {
    font-size: 20px;
    margin-bottom: 10px;
}

.startButton,
.stopButton {
    padding: 10px;
    cursor: pointer;
}

.startButton {
    background-color: #4CAF50;
    /* Green */
    color: white;
}

.stopButton {
    background-color: #f44336;
    /* Red */
    color: white;
}